/* General styles */
@import 'swiper/css';

.section {
  padding-top: 72px;
}

.container {
  padding-inline: 20px;
}

.backdrop {
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: rgba(92, 92, 92, 0.233);
  transition: opacity var(--timing-function),
    visibility var(--timing-function);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: unset;
}

.lock {
  overflow: hidden;
}

.modal-form {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-form.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
  }

  .container {
    width: 768px;
    padding-inline: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 128px;
  }

  .container {
    width: 1200px;
  }
}

/* Part hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
