.section-components {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
}
.title-components {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 24px;
}

.components {
  color: #fd9222;
}
.tex-components {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #111111;
  margin-bottom: 32px;
}

/*  =========== C O M P O N E N T S =============  */

.item-components {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 28px 28px 28px;
  position: relative;
  overflow: hidden;
}

.item-components.milk {
  background-color: #fff;
}
.item-components.nuts {
  background-color: #1e1823;
}
.item-components.coffee {
  background-color: #fff;
}
.item-components:hover .overlay-components,
.item-components:focus .overlay-components {
  background-color: #fff;
  transform: translateY(0);
}
.components-thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.nuts-chocolate,
.milk-chocolate {
  color: #fff;
}
.milk-chocolate {
  color: black;
}
.milk-chocolate {
  display: flex;
  display: block;
}

/* ======== O V E R L A Y ====================== */
.overlay-components {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 28px;
  padding-bottom: 28px;
  position: absolute;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.overlay-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}
.btn-components {
  padding: 6px 16px;
  margin-bottom: 14px;
  gap: 14px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  align-items: center;
  color: #111111;
  border-radius: 35px;
  border: 1px solid #fd9222;
  background-color: #fff;
}
.btn-components:hover,
.btn-components:focus {
  background-color: #fd9222;
  color: #fff;
}

.description-components {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #111111;
}
@media screen and (max-width: 767px) {
  .list-components {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    width: 768px;
    padding-inline: 32px;
  }

  .title-components {
    margin-bottom: 28px;
  }
  .tex-components {
    text-align: center;
    padding: 0 109px;
    margin-bottom: 50px;
  }
  .list-components {
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .item-components {
    width: 336px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .item-components.chocolate {
    order: 1;
  }
  .item-components.milk {
    order: 3;
  }
  .item-components.nuts {
    order: 4;
  }
  .item-components.coffee {
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 128px;
  }

  .container {
    width: 1200px;
  }
  .list-components {
    flex-wrap: nowrap;
    gap: 19px;
  }
  .tex-components {
    text-align: center;
    padding: 0 325px;
  }
  .item-components {
    width: 270px;
  }
}
