.footer {
  background-color: #1e1823;
  padding-block: 32px;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  display: block;
  max-width: 300px;
}

.footer-slogan {
  color: #fd9222;
}

.footer-icons {
  display: flex;
  gap: 19px;
}

.footer-address {
  display: flex;
  justify-content: space-between;
  font-style: normal;
}

.insta {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 2px;
}

.insta:hover,
.footer-social-link:focus > .insta {
  stroke: var(--icon-color-active);
}

.contact-us {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.contact-us-title {
  margin-bottom: 14px;
}

.contact-us-link:not(:last-child) {
  margin-bottom: 4px;
}

.footer-navigation {
  color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid;
  padding-top: 32px;
  margin-top: 32px;
}

.footer-nav-list {
  padding-left: 0;
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.footer-nav-item {
  position: relative;
}

.footer-nav-link:is(:hover, :focus) {
  color: #fd9222;
}

.footer-nav-item:last-child {
  margin-bottom: 0;
}

.footer-nav-link {
  color: #ffffff;
}

.contact-us-title {
  font-size: 14px;
  color: #ffffff;
}

.footer-nav-link::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 20px;
  top: 18px;
  left: 0;
  margin-top: 8px;
  background-color: transparent;
  transition: background-color var(--timing-function);
}

.footer-nav-link:hover::after {
  background-color: #fd9222;
}

@media (min-width: 768px) {
  .footer {
    padding-block: 50px;
  }

  .footer-wrap {    
    flex-direction:row;
    justify-content: space-between;
  }

  .footer-title {
    max-width: 300px;
    font-weight: 500;
    font-size: 28px;
    display: block;
    max-width: 320px;
  }

  .footer-icons {
    gap: 18px;
  }

  .contact-us {
    margin-right: 50px;
  }

  .contact-us-link:is(:hover, :focus) {
    color: #fd9222;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-nav-item:last-child {
    margin-right: 0;
  }

  .footer-navigation {
    padding-top: 24px;
    margin-top: 58px;
  }
}

@media (min-width: 1200px) {
  .contact-us {
    margin-right: 63px;
  }

  .footer-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: -0.02em;
    display: block;
  }

  .footer-navigation {
    margin-top: 58px;
  }

  .insta:is(:hover, :focus) {
    stroke: #fd9222;
  }
}
