@media screen and (min-width: 320px) and (max-width: 375px) {
    
.footer-section {
    
}

.footer-container {
    padding: 32px 20px;
    background-color: #1E1823;
}

.footer-slogan {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.accent-slogan {
    color: #FD9222;
}

.contact-list {
    color:#FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 14px;

}
.contact-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-tel {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height:1.2;
    font-style: normal;
    margin-bottom: 4px;
    
}

.footer-email {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;

}

.footer-social {
    display: flex;
    gap: 16px;
}

.footer-line {
    margin: 32px 0;
    opacity: 0.1;
}

.footer-social-item {}

.footer-social-link {

}

.social-icon{
    fill: #FFFFFF;
}

.footer-list {
    margin-bottom: 18px;
}

.footer-list-link {}

}

.footer-navigation {
    color: #FFFFFF;
}