.footer {
  background-color: #1E1823;
  padding-block: 50px;

}

.footer .title {
  color: #fff;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  display: block;
  max-width: 300px;
}

.footer .title .slogan {
  color: #FD9222;
}

.wrap-contact-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.footer .wrap-contact-us .insta {
  stroke: #FFFFFF;
  fill: transparent;
  stroke-width: 2px;
  margin-left: 15px;

}

.footer .wrap-contact-us .insta:is(:hover, :focus) {
  stroke:#FD9222;

}

.footer .contact-us {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.footer .contact-us .contact-us-title {
  margin-bottom: 14px;
}

.footer .contact-us .contact-us-link {
  margin-bottom: 4px;
}

.footer .line-footer {
 color: rgba(255, 255, 255, 0.1);
border-top: 1px solid;
padding-top: 32px;
}

.footer .list {
  padding-left: 0;
}

.footer .list .list-item {
  margin-bottom: 18px;
}

.footer .list .list-item-link:is(:hover, :focus) {
  color:#FD9222;
}

.footer .list .list-item:last-child {
  margin-bottom: 0;
}

.footer .list .list-item-link {
  color: #FFFFFF;
}

.contact-us-title {
  font-size: 14px;
  color: #FFFFFF;
}

.footer .insta-block {
  height: auto;
}

@media (min-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer .title {
    max-width: 300px;
    font-weight: 500;
    font-size: 28px;
    display: block;
    max-width: 320px;
  }

  .footer .contact-us {
    margin-right: 52px;
  }

    .footer .contact-us-link:is(:hover, :focus){
      color:#FD9222;
    }

  .footer .list {
    display: flex;
  }

  .footer .list .list-item {
    margin-right: 24px;
  }

  .footer .list .list-item:last-child {
    margin-right: 0;
  }

  .footer .line-footer {
  padding-top: 24px;
  }
    .footer .wrap-contact-us .insta {
      margin-left: 19px;
    }
  
    .footer .wrap-contact-us {
      padding-bottom: 50px;
    }
}


@media (min-width: 1200px) {
  .footer .contact-us {
    margin-right: 65px;
  }

  .footer .title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: -0.02em;
    display: block;
  }

  .footer .line-footer {
    margin-top: 58px;
  }
.footer .wrap-contact-us .insta {
  margin-left: 19px;
}
.footer .wrap-contact-us .insta:is(:hover,:focus) {
  stroke: #FD9222;
}

.footer .wrap-contact-us {
  padding-bottom: 0;
}
}


