/* Header styles */
.header{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--body-background-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 14px;
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding-bottom: 32px;
  }

  /* -----------MENU HOVER, FOCUS------------ */

  .menu-list-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-list-link:is(:hover, :focus) {
    color: var(--orange);
  }

  .menu-list-link::after {
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-list-link:is(:hover, :focus)::after {
    background-color: var(--orange);
  }
}
.header-navigation {
  display: flex;
  gap: 188px;
}
.logo-desktop {
  display: flex;
  gap: 6px;
  align-items: center;
}
.logo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.logo-text-part-one {
  font-style: italic;
}
.logo-icon-desktop {
  stroke: var(--icon-color-active);
  fill: none;
}
.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }
}
.text-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.text-header-hover {
  color: var(--orange);
}
.social-list {
  display: flex;
  gap: 18px;
}
.social-icon-desktop-tablet,
.social-mobile-icon {
  fill: none; 
}
.social-icon-desktop-tablet {
  stroke: var(--black);
  stroke-width: 2.666px;
}
.social-list-link{
display: block;
}
.social-icon-desktop-tablet:hover,
.social-list-link:focus > .social-icon-desktop-tablet {
  stroke: var(--icon-color-active);
}
@media screen and (max-width: 1199px) {
  .social-list {
    display: none;
  }
}
.btn-mobile-menu-open {
  display: block;
  background: none;
  border: none;
  padding: 0;
}
.mobile-menu-open-icon {
  stroke: var(--icon-color-normal-light-theme);
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-open-icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-mobile-menu-open {
    display: none;
  }
}
/*==========HEADER==========*/
