/* Header styles */
.header-container{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 14px;
}
@media screen and (min-width:768px) {
    .header-container{
        margin-top: 24px;
        margin-bottom: 24px;
    }     
}
@media screen and (min-width:1200px) {
    .header-container{   
        margin-bottom: 32px;
    }  
}
.header-navigation{
    display: flex;
    gap: 188px;
}
.logo-desktop{
    display: flex;
    gap: 6px;
    align-items: center;
}
.logo-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;    
}
.logo-text-part-one{
    font-style: italic;   
}
.logo-icon-desktop{
    stroke: var(--icon-color-active);
    fill: none;
}
.menu{
    display: flex;
    align-items: center;
    gap: 24px;   
}
@media screen and (max-width:1199px) {
    .menu{
        display: none;   
    }   
}
.text-header{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}
.text-header-hover{   
    color: var(--orange);
}
.social-list{
    display: flex;
    gap: 18px;
}
.social-icon-desktop-tablet,
.social-mobile-icon{
    fill: none;  
}
.social-icon-desktop-tablet{
    stroke: var(--black);
    stroke-width: 2.666px;
}
.social-icon-desktop-tablet:hover,
.social-icon-desktop-tablet:focus{
    stroke: var(--icon-color-active);
}   
@media screen and (max-width:1199px) {
    .social-list{
        display: none;   
    }   
}
.btn-mobile-menu-open{
    display: block;
    background: none;
    border: none;
    padding: 0;
}
.mobile-menu-open-icon{
    stroke: var(--icon-color-normal-light-theme);
    width: 28px;
    height: 28px;
}
@media screen and (min-width:768px) {
    .mobile-menu-open-icon{
        width: 32px;
        height: 32px;
    }  
}
@media screen and (min-width:1200px){
    .btn-mobile-menu-open{
        display: none;
    }
}
/*==========HEADER==========*/
