.section-hero {
  background-color: var(--body-background-color);
 
  padding-top: 0;
  padding-bottom: 72px;
}

.box1 {
  padding-top: 395px;
  min-height: 620px;
  border-radius: 30px;
  font-size: 40px;
  color: var(--text-color-dark-theme);
  text-align: center;
  background-image: linear-gradient(180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%),
    url('../../images/hero/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
 

}


.paragraph-hero {
 
max-width: 291px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--text-color-dark-theme);
  text-align: left;
  margin-bottom: 32px;

}
br {
  display: none;
}

.modal-button {
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*??*/
  background: var(--icon-color-active);
  border-radius: 100px;
  padding-bottom: 32px;
}

.modal-button:hover,
.modal-button:focus {
  background: var(--button-bg-active-light-theme);
}

.text-button {

  font-family: inherit;
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--text-color-dark-theme);
}

.text-button:hover,
.text-button:focus {
  color: var(--button-bg-normal-light-theme);
}

.how-its-made-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*??*/

  background: transparent;
  border: 1px solid var(--text-color-dark-theme);
  border-radius: 100px;
}

.how-its-made-link:hover,
.how-its-made-link:focus {
  border: 1px solid var(--button-bg-normal-light-theme);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.buttons-wrap {
  margin-bottom: 32px;
  display: flex;
  gap: 14px;
}


.scroll-link {
  display: flex;
  gap: 12px;
  align-items: center;
}
.scroll-link:hover .scroll-paragraph,
.scroll-link:focus .scroll-paragraph
 {
  color: var(--button-font-active-light-theme)
}
.scroll-link:hover .icon-wrap,
.scroll-link:focus .icon-wrap
{
  background-color: var(--button-bg-normal-light-theme);
}
.scroll-link:hover .hero-icon,
.scroll-link:focus .hero-icon 
{
  fill: var(--icon-color-normal-dark-theme);
}


.scroll-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 3;
letter-spacing: -0.03em;
color: var(--icon-color-normal-dark-theme);
}
.icon-wrap {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--icon-color-normal-dark-theme);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-icon {
fill: var(--button-font-active-light-theme);
}



@media screen and (max-width: 767px) {
  .box1 {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url('../../images/hero/hero-mobile.jpg');

   
  }


  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .box1 {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../../images/hero/hero-mobile@2x.jpg');
    }
  }

}
/*----tablet version----*/
@media screen and (min-width: 768px) {
  .box1 {
    min-height: 704px;
    background-image: url('../../images/hero/hero-tablet.jpg');
    padding-top: 671px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .paragraph-hero {
    font-size: 28px;
    max-width: 484px;

  }
  br {
    display: block;
  }
  .wrapper {
    flex-direction: row;
    align-items: baseline;
   
  }
  .text-button {
    padding: 14px 40px;
  }
  .icon-wrap {
    width: 38px;
    height: 38px;
  }
  .buttons-wrap {
    margin-right: auto;
    margin-bottom: 0;
  }
  .scroll-link {
    gap: 14px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .box1 {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../../images/hero/hero-tablet@2x.jpg');
    }
  }

}
/*---desktop version---*/
@media screen and (min-width: 1200px) {
  .box1 {
    background-image: url('../../images/hero/hero-desktop.jpg');
    padding-top: 381px;
    min-height: 600px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .box1 {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../../images/hero/hero-desktop@2x.jpg');
    }
  }
}