/* Modal buy now*/
.modal-buy-now-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;   
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy-now-backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-buy-now{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 311px;
    min-height: 1007px;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:var(--body-background-color);
    border-radius: 15px;
    padding: 32px 24px;
    overflow: hidden;
}
@media screen and (min-width:768px) {
    .modal-buy-now{
        width: 705px;
        min-height: 1154px;        
        padding: 48px;    
    } 
}
.modal-buy-now-btn-close{
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;    
    border: none;
    background: transparent;
    top: 14px;
    right: 14px;
    stroke:  var( --icon-color-normal-light-theme);
}

@media screen and (min-width:768px) {
    .modal-buy-now-btn-close{
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;       
    } 
}
.modal-buy-now-btn-close:hover,
.modal-buy-now-btn-close:focus{
    stroke: var(--orange);

}

.modal-buy-now-title{    
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;   
}

.modal-buy-now-title-accent{
    color: var(--orange);  
}

.modal-buy-now-cards-list{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}
@media screen and (min-width:768px) {
    .modal-buy-now-cards-list{
        display: flex;     
    }
}
.modal-buy-now-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 196px;
    padding-top: 24px;
    padding-bottom: 18px;
    background: #FFFFFF;
    border: 1px solid var(--dark-grey);
    border-radius: 15px;  
}
.modal-buy-now-card-link{
    margin-bottom: 14px;
}

.modal-buy-now-card-weight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 33px;
    background: #FAFAFA;
    border: 1px solid var(--dark-grey);
    border-radius: 100px;   
    
}



.modal-by-now-form-input-desc{
    font-weight: 500;
    line-height: 1.64;
    letter-spacing: -0.02em;
    color: #000000;


}

.modal-form-input-wrap{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    
    

}


.modal-buy-now-input{
    background-color: transparent;
    border-radius: 8px;
    width: 246px;
    height: 66px; 
    color: var( --secondary-text-color-light-theme); 
    padding: 22px 24px;
    border: 1.5px solid var(--dark-grey);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 13px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}





.modal-buy-now-comment-message ::placeholder{
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color:var( --secondary-text-color-light-theme);
}


.modal-buy-now-form{
    display: flex;
    flex-direction: column;  

}



.modal-buy-now-form-submit{
    align-self: flex-start;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px 28px;
    min-width: 93px;
    height: 41px;
    color: var( --button-font-normal-light-theme);
    background:var(--button-bg-normal-light-theme);
    border-radius: 100px;
    transition-timing-function:var( --timing-function);
}
.modal-buy-now-form-submit:is(:hover,:focus){
    background: var( --button-bg-active-light-theme) ;
    color: var(--button-font-active-light-theme);
}
.modal-buy-now-comment-message{
    width: 100%;
    height: 91px;
    border-radius: 8px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);

}
.modal-buy-now-form-input-wrapper{
    position: relative;
    display: block;
}
.modal-buy-now-phone-number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;
    left: 48px;
    transform: translate(0, -50%);  
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: -0.02em;
    color: #000000;

}
.modal-buy-now-phone-number::after{
    content: '';
    display: block;
    height: 25px;
    width: 1.5px;
    background-color: rgba(64, 64, 64, 0.3) ;
}
.modal-buy-now-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
}

@media screen and (min-width:768px){
    
    .modal-buy-now-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var( --text-color-light-theme);
    width: 298px;
    height: 56px;
    }
    .modal-buy-now-input{
    border-radius: 8px;
    width: 100%;
    height: 66px;
    padding-left: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: var( --secondary-text-color-light-theme);
    background-color: transparent;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);

    }  
    .modal-buy-now-comment-message{
        width: 100%;
        height: 137px;
        border-radius: 8px;
        padding: 24px 24px;
        resize: none;
        border: 1px solid rgba(17, 17, 17, 0.1);
        box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    }
    .modal-buy-now-comment-message ::placeholder{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        color: rgba(64, 64, 64, 0.3);
    }
    .modal-buy-now-input-phone{
        padding-left: 177px;
    }
    .modal-buy-now-phone-number{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        position: absolute;
        top: 50%;
        left: 48px;
        transform: translate(0, -50%);       
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: -0.02em;
        color: #000000;
        margin-left: 18px;
    }
    .modal-buy-now-icon{
        display: block;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translate(0, -50%);
    }
    .modal-buy-now-input::placeholder{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: rgba(64, 64, 64, 0.3);   
    }
}
