
@media screen and (min-width: 375px){


   .popup-feedback-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   } 

   .pop-up{
    width: 311px;
    height: 350px;
    position: fixed;
  
    padding: 14px;
    background-color: #FD9222;
    border-radius: 15px;
    overflow: hidden;
    
    
}

.btn-pop-up{
    background-color: #FCF1E0;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 42px;
}

.container-title{
    color: #FCF1E0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 8px;
    width: 229px;
    height: 48px;
}

.text-container{
    color: #FFFFFF;
    
    width: 190px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.container-features{
    margin-left: 40px;
    margin-right: 8px;
    position: relative;
}

.svg-pop-up{
    stroke: #F16529;
    
    
}

.img-popup-mobile{
  
position: absolute;
width: 296px;
height: 399px;
left: -80px;
top: 145px;
transform: rotate(-10deg)
}
}

@media screen and (min-width: 768px){
    .pop-up{
        height: 414px;
width: 516px;


    }
    .container-features{
        padding: 99px 49px 163px 170px;
    }
    .container-title{
        width: 297px;
height: 88px;
left: 170px;
top: 163px;
    }
}





