/* -------SUBSCRIBE STYLES-------- */
.subscribe {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  padding-top: 62px;
  padding-bottom: 62px;

  color: var(--text-color-dark-theme);

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../../images/subscribe/subscribe-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../../images/subscribe/subscribe-mob@2x.jpg);
  }
}

.subscribe-title {
  max-width: 291px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.subscribe-text {
  margin-bottom: 24px;

  line-height: calc(18 / 14);
  text-align: center;
  letter-spacing: -0.02em;
}

.subscribe-btn {
  display: block;
  min-width: 128px;
  min-height: 41px;

  margin: 0 auto;

  font-weight: 600;
  line-height: calc(17 / 14);
  color: inherit;

  background-color: var(--button-bg-normal-light-theme);
  border-radius: 100px;
  border-color: transparent;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
  background-color: var(--button-bg-active-light-theme);
  color: var(--button-font-active-light-theme);
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 72px;
    padding-bottom: 72px;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../../images/subscribe/subscribe-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../../images/subscribe/subscribe-tab@2x.jpg);
    }
  }

  .subscribe-title {
    max-width: 378px;

    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .subscribe-text {
    max-width: 467px;

    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-btn {
    min-width: 172px;
    min-height: 50px;

    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../../images/subscribe/subscribe-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../../images/subscribe/subscribe-desk@2x.jpg);
    }
  }
}
