.section-sellers {
  background-color: #fafafa;
}

.title-sellers {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.title-accent {
  color: #fd9222;
}

.about-sellers-text {
  line-height: 1.2;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #111111;
  margin-bottom: 32px;
}

.about-sellers-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sellers-btn {
  min-width: 120px;
  border-radius: 100px;
  border: none;
  background-color: #fd9222;
  color: #ffffff;
  line-height: 1.2;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 28px;
  margin: auto;
}

.sellers-btn:is(:hover, :focus) {
  background-color: #fcf1e0;
  color: #fd9222;
}

.about-sellers-item img {
  border-radius: 15px;
}

.about-sellers .about-sellers-item:nth-child(3) {
  display: none;
}

@media (min-width: 768px) {
  .title-sellers {
    margin-bottom: 50px;
  }
  .about-sellers {
    display: flex;
    gap: 16px;
  }
  .about-sellers-item {
    flex: 0 0 calc(50% - 8px);
    gap: 32px;
  }
  .about-sellers-item .sellers-btn {
    margin: 0 0 0 auto;
  }

  .about-sellers-text {
    margin-bottom: 0;
}
}

@media (min-width: 1200px) {
  .about-sellers .about-sellers-item:nth-child(3) {
    display: flex;
  }

  .about-sellers-item {
    flex: 0 0 calc(33.333% - 10.7px);
  }
  .about-sellers-item .sellers-btn {
    margin: 0 0 0 auto;
  }
  .about-sellers .about-sellers-item:nth-child(2) .sellers-btn {
    display: none;
  }
  .title-sellers {
    font-size: 24px;
  }

  .sellers-btn:is(:hover, :focus) {
    background-color: #fcf1e0;
    color: #fd9222;
  }
}
