<div class="container">
  <section class="section">
    <div class="components">
      <h2 class="title-components">
        It all adds up to one <br />
        exceptional <span class="components">taste</span> sensation
      </h2>
      <p class="tex-components">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <!--==========  C O M P O N E N T S ============= -->

    <ul class="list-components">
      <li class="item-components chocolate">
        <div class="components-card">
          <div class="components-thumb">
            <picture class="picture-components">
              <source
                srcset="
                  ./images/components/milk-chocollate.png        1x,
                  ./images/components/milk-chocollate@2x-min.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/components/milk-chocollate-mobile.png        1x,
                  ./images/components/milk-chocollate-mobile@2x-min.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/components/milk-chocollate-mobile.png"
                alt="milk chocollate"
                class="img-components"
              />
            </picture>
          </div>

          <p class="milk-chocolate">mILK CHOCOLATE</p>

          <div class="overlay-components">
            <h3 class="overlay-title">Milk chocolate</h3>
            <button class="btn-components current" type="button">
              chocolate
            </button>
            <button class="btn-components" type="button">the benefits</button>

            <p class="description-components">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>
      <!-- ===================== M I L K ======================= -->
      <li class="item-components milk">
        <div class="components-card">
          <div class="components-thumb">
            <picture>
              <source
                srcset="
                  ./images/components/milk-.png   1x,
                  ./images/components/milk@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/components/milk-mobile.png,
                  ./images/components/milk-mobile-@2x.png 2x
                "
                media="(min-width: 320px)"
              />

              <img
                src="./images/components/milk-mobil.png"
                alt="milk"
                class="img-components"
              />
            </picture>
          </div>

          <p class="dairy-chocolate">Milk</p>

          <div class="overlay-components">
            <h3 class="overlay-title">Milk</h3>
            <button class="btn-components current" type="button">milk</button>
            <button class="btn-components" type="button">the benefits</button>
            <p class="description-components">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <!-- =============== N U T S ==================================== -->

      <li class="item-components nuts">
        <div class="components-card">
          <div class="components-thumb">
            <picture>
              <source
                srcset="
                  ./images/components/nuts.png        1x,
                  ./images/components/nuts@2x-min.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/components/nuts-mobile.png        1x,
                  ./images/components/nuts-mobile@2x-min.png 2x
                "
                media="(min-width: 320px)"
              />

              <img
                src="./images/components/nuts-mobile.png"
                alt="nuts"
                class="img-components"
              />
            </picture>
          </div>
          <p class="nuts-chocolate">Nuts</p>

          <div class="overlay-components">
            <h3 class="overlay-title">Nuts</h3>
            <button class="btn-components current" type="button">nuts</button>
            <button class="btn-components" type="button">the benefits</button>
            <p class="description-components">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </div>
      </li>
      <!-- ==============COFFEE======================== -->

      <li class="item-components coffee">
        <div class="components-card">
          <div class="components-thumb">
            <picture>
              <source
                srcset="
                  ./images/components/coffee.png        1x,
                  ./images/components/coffee@2x-min.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/components/coffee-mobile.png        1x,
                  ./images/components/coffee-mobile@2x-min.png 2x
                "
                media="(min-width: 320px)"
              />

              <img
                src="./images/components/coffee-mobile.png"
                alt="coffee"
                class="img-components"
              />
            </picture>
          </div>
          <p class="coffee-chocolate">sEMI-SWEET CHOCOLATE</p>

          <div class="overlay-components">
            <h3 class="overlay-title">sweet chocolate</h3>
            <button class="btn-components current" type="button">
              sweet chocolate
            </button>
            <button class="btn-components" type="button">the benefits</button>
            <p class="description-components">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
