<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <h2 class="footer-title">
        <span class="footer-slogan">Chocolate</span> a delicious cure for a bad
        day
      </h2>
      <address class="footer-address">
        <div class="contact-us">
          <div class="contact-us-title">Contact us</div>
          <a class="contact-us-link" href="+380684439426"
            >+380 (68) 443-94-26</a
          >
          <a class="contact-us-link" href="simplychoc@gmail.com"
            >simplychoc@gmail.com</a
          >
        </div>
        <div>
          <ul class="footer-icons">
            <li class="insta-block">
              <a href="">
                <svg class="insta" width="24" height="24">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="insta" width="24" height="24">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </address>
    </div>
    <nav class="footer-navigation">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#home">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#our-products">Our products</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
