<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <h2 class="title">
        <span class="slogan">Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="wrap-contact-us">
        <div class="contact-us">
          <div class="contact-us-title">Contact us</div>
          <a class="contact-us-link" href="">+380 (68) 443-94-26</a>
          <a class="contact-us-link" href="">simplychoc@gmail.com</a>
        </div>
        <div>
          <ul>
            <li>
              <a href="">
                <svg class="insta" width="24" height="24">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
              <a href="">
                <svg class="insta" width="24" height="24">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="line">
      <ul class="list">
        <li class="list-item">
          <a class="list-item-link" href="home">Home</a>
        </li>
        <li class="list-item">
          <a class="list-item-link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="list-item">
          <a class="list-item-link" href="#our-products">Our products</a>
        </li>
        <li class="list-item">
          <a class="list-item-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="list-item">
          <a class="list-item-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
