    <div class="header-container container">
        <nav class="header-navigation">                
            <a href="index.html" class="logo-desktop-link">
                <div class="logo-desktop">
                    <p class="logo-text"><span class="logo-text-part-one">Simply </span>chocolate</p>
                    <svg class="logo-icon-desktop" width="24" height="24">
                        <use href="./images/icons.svg#icon-chocolate-logo"></use>
                    </svg>
                </div>
            </a>               
            <ul class="menu">
                <li class="menu-list">
                    <a href="" class="menu-list-link">
                        <p class="text-header">Home</p>
                    </a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-list-link">
                        <p class="text-header">How it’s made?</p>
                    </a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-list-link">
                        <p class="text-header">Our products</p>
                    </a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-list-link">
                        <p class="text-header">Top sellers</p>
                    </a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-list-link">
                        <p class="text-header">Chocolate is loved</p>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="social-list">
            <li class="social-list-item">
                <a target="_blank" rel="noopener noreferrer" href="" class="social-list-link">
                    <svg class="social-icon-desktop-tablet" width="24" height="24">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a target="_blank" rel="noopener noreferrer" href="" class="social-list-link">
                    <svg class="social-icon-desktop-tablet" width="24" height="24">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <!--mobile-menu-->
        <button type="button"
        class="btn-mobile-menu-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu">
            <svg class="mobile-menu-open-icon">
                <use href="./images/icons.svg#icon-menu"></use>
            </svg>
        </button> 
    </div>
       <!--mobile-menu-form-->
    <div class="mobile-menu js-menu-container" id="mobile-menu">
        <div class="mobile-menu-container">
            <button type="button" class="btn-close-menu js-close-menu">
                <svg class="close-icon-menu">
                    <use href="./images/icons.svg#icon-x-close"></use>
                </svg>
            </button>
            <ul class="menu-mobile-list">
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link">
                        <p class="text-mobile-menu">Home</p>
                    </a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link">
                        <p class="text-mobile-menu">How it’s made?</p>
                    </a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link">
                        <p class="text-mobile-menu">Our products</p>
                    </a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link">
                        <p class="text-mobile-menu">Top sellers</p>
                    </a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link">
                        <p class="text-mobile-menu">Chocolate is loved</p>
                    </a>
                </li>
            </ul>
            <ul class="social-menu-list">
                <li class="social-list-item">
                    <a target="_blank" rel="noopener noreferrer" href="" class="social-list-link">
                        <svg class="social-mobile-icon">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a target="_blank" rel="noopener noreferrer" href="" class="social-list-link">
                        <svg class="social-mobile-icon">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>                       
        </div>
    </div>
