<section class="section-hero" id="home">
  <div class="container container-hero">    
    <div class="box1">
      <div class="hero-decor">
        <img class="hero-decor-img" src="./images/hero/currant-min.png" alt="">
      </div>
      <h1 class="paragraph-hero">
        Treat yourself or a loved one to<br />
        our finest ingredients for a moment of pure delight!
      </h1>
      <div class="wrapper">
        <div class="buttons-wrap">
          <button type="button" class="modal-button text-button js-open-modal" data-modal="1">
            Buy now
          </button>

          <a
            class="how-its-made-link text-button"
            href="#how-its-made"
            >How it's made</a
          >
          <!--put id to how its made section-->
        </div>
        <a class="scroll-link" href="#footer-page">
          <p class="scroll-paragraph">scroll down</p>
          <span class="icon-wrap">
            <svg class="hero-icon" width="16" height="16">
              <use href="./images/icons.svg#icon-angle"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
