<section class="section container hero">
  <div class="hero-container">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <ul class="hero-btn-list">
      <li>
        <button
          type="button"
          class="modal-button-one text-button"
          data-modal-open
        >
          Buy now
        </button>
      </li>
      <li>
        <button
          type="button"
          class="modal-button-two text-button"
          data-modal-open
        >
          How it’s made
        </button>
      </li>
    </ul>
  <div class="scroll-wrap">
    <p class="hero-paragraph">scroll down</p>
    <a class="scroll-link" href="">
    <svg class="scroll-icon" width="16" height="16">
      <use href="../images/icons.svg#icon-angle"></use>
    </svg>
  </a>
  </div>
 
  </div>
</section>
