<!-- Howe-its-Made -->
<section class="section-howmade">
  <div class="container">
    <h2 class="howmade-title">
      how it's <span class="title-color-akcent">made?</span>
    </h2>
    <div class="howmade-box">
      <div class="howmade-video-box">
        <video autoplay preload="auto" class="howmade-video-play" poster="">
          <source
            src="https://youtube.com/clip/Ugkx3wWgrNRpIlG8b-tEmr8gch4dieXr7HO0"
            type="video/mp4"
          />
        </video>
      </div>
      <div class="howmade-text">
        <h3 class="howmade-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="howmade-list">
          <li class="howmade-item option">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="howmade-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="howmade-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="howmade-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="howmade-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
