       <!--mobile-menu-form-->
    <div class="mobile-menu js-menu-container" id="mobile-menu">
        <div class="mobile-menu-container">
            <button type="button" class="btn-close-menu js-close-menu">
                <svg class="close-icon-menu">
                    <use href="./images/icons.svg#icon-x-close"></use>
                </svg>
            </button>
            <ul class="menu-mobile-list">
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link text-mobile-menu">Home</a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link text-mobile-menu">How it’s made?</a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link text-mobile-menu">Our products</a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link text-mobile-menu">Top sellers</a>
                </li>
                <li class="menu-mobile-item">
                    <a href="" class="menu-mobile-link text-mobile-menu">Chocolate is loved</a>
                </li>
            </ul>
            <ul class="social-menu-list">
                <li class="social-menu-list-item">
                    <a target="_blank" rel="noopener noreferrer" href="" class="social-mobile-link">
                        <svg class="social-mobile-icon">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-menu-list-item">
                    <a target="_blank" rel="noopener noreferrer" href="" class="social-mobile-link">
                        <svg class="social-mobile-icon">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>                       
        </div>
    </div>