<div class="modal-buy-now-backdrop" >
    <div class="modal-buy-now">
        <button class="modal-buy-now-btn-close" type="button">
            <svg width="24px" height="24px">
                <use href="./images/icons.svg#icon-x-close"></use>
            </svg>
        </button>
        <p class="modal-buy-now-title">Buy<span class="modal-buy-now--title-accent">now</span> </p>
        <ul class="modal-buy-now-cards-list">
            <li class="modal-buy-now-card-item">
                <a href="" class="modal-buy-now-card-link">
                    <img
                    srcset="./images/buy-now/buy-now-desktop-1@2x-min.png"
                        src="./images/buy-now/buy-now-desktop-1-min.png" 
                        alt="chocolate"
                        width="120"
                        height="107"   
                    >               
                </a>
                <p class="modal-buy-now-card-weight">100g</p>
            </li>
            <li class="modal-buy-now-card-item">
                <img
                srcset="./images/buy-now/buy-now-desktop-2@2x-min.png"
                src="./images/buy-now/buy-now-desktop-2-min.png" 
                    alt="chocolate"
                    width="120"
                    height="107"    
                > 
                <p class="modal-buy-now-card-weight">200g</p>
            </li>
            <li class="modal-buy-now-card-item">
                <img
                srcset="./images/buy-now/buy-now-desktop-3@2x-min.png"
                src="./images/buy-now/buy-now-desktop-3-min.png" 
                    alt="chocolate"
                    width="120"
                    height="107"    
                > 
                <p class="modal-buy-now-card-weight">300g</p>
            </li>
        </ul>
        <form class="modal-buy-now-form">
            <label class="modal-buy-now-form-field">
                <span class="modal-form-input-desc">Personal information</span>               
                <span class="modal-form-input-wrap">                 
                    <input type="text" name="user-name" placeholder="Name" id="name-label" class="modal-buy-now-input" pattern="[a-z A-Z А-Я а-я]+" minlength="2"/>
                    <input type="text" name="user-name" placeholder="Surname" id="name-label" class="modal-buy-now-input" pattern="[a-z A-Z А-Я а-я]+" minlength="2"/>   
                </span>             
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-desc">Email</span>               
                <span class="modal-form-input-wrap">
                    <input type="text" id="email-user" placeholder="Enter your email" name="user-email" class="modal-buy-now-input"/> 
                </span>             
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-desc">Phone number</span>               
                <span class="modal-form-input-wrap">
                    <span class="modal-buy-now-form-input-wrapper">
                        <input type="tel" name="user-phone" placeholder="Phone number" class="modal-buy-now-input-phone modal-buy-now-input" id="phone-user" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx"/>
                            <svg width="32px" height="32px" class="modal-buy-now-icon">
                                <use href="./images/icons.svg#icon-flag-ua"></use>
                            </svg>
                        <span class="modal-buy-now-phone-number">+380</span>
                    </span>
                </span>             
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-desc">Card number</span>               
                <span class="modal-form-input-wrap">
                    <span class="modal-buy-now-form-input-wrapper">
                        <input type="text" name="user-phone" placeholder="Enter  card" class="modal-buy-now-input-phone modal-buy-now-input" id="phone-user" pattern="[0-9]" title="xxxx-xxxx-xxxx-xxxx"/>
                            <svg width="44px" height="30px" class="icon-master-card">
                                <use href="./images/icons.svg#icon-mastercard"></use>
                            </svg>                  
                    </span>
                </span>             
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-desc">Comment</span> 
                <textarea name="user-message" placeholder="Enter text" id="comment-user" class="modal-buy-now-comment-message"></textarea>             
            </label>    
            <button type="submit" class="modal-buy-now-form-submit">Send</button>
        </form>
    </div>
</div>