<div class="modal_thx" data-modal="3">

<!-- <button type="button" class="btn-close-modal-thx">
    <svg class="close-icon-modal-thx">
        <use href="./images/icons.svg#icon-x-close"></use>
    </svg>
</button> -->

<img srcset="./images/modal-thank-you/choco-chocomobile-1x.jpg 1x,
    ./images/modal-thank-you/choco-chocomobile-1x.jpg 2x" 
    src="./images/modal-thank-you/choco-chocomobile-1x.jpg" 
    alt="chocolate" 
    width="100%"
    height="169" 
    class="thx-img">

<div class="thx">
    <p class="thx-text">
        Explore our <br> <span class="big">new chocolate</span> first!
    </p>
    
    <div class="serch">
        <form class="navbar-form" role="search">
    
            <input class="subscribe-input" type="email" name="subscribe_email" placeholder="Enter your email" required="">
    
            <button class="serch-btn" type="button"> Submit</button>
    
        </form>
    </div>
</div>
 

</div>