<section class="our-products section" id="our-products">
  <div class="our-products-wrap container">
    <h2 class="our-products-title">
      Our<span class="our-products-accent-text">&nbsp;products</span>
    </h2>
    <ul class="our-products-cardc-wrap">
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-1@2x-min.png"
              srcset="./images/our-products/our-products-1@2x-min.png"
              alt="Orange"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Orange</a>
          <p class="our-products-cards-description">Dark chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            45 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-2@2x-min.png"
              srcset="./images/our-products/our-products-2@2x-min.png"
              alt="Apple&cranberry"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Apple&cranberry</a>
          <p class="our-products-cards-description">Milk chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            50 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-3@2x-min.png"
              srcset="./images/our-products/our-products-3@2x-min.png"
              alt="Lime&sea salt"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Lime&sea salt</a>
          <p class="our-products-cards-description">Dark chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            66 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-4@2x-min.png"
              srcset="./images/our-products/our-products-4@2x-min.png"
              alt="Pineapple"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Pineapple</a>
          <p class="our-products-cards-description">Dark chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            54 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-5@2x-min.png"
              srcset="./images/our-products/our-products-5@2x-min.png"
              alt="Classic"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Classic</a>
          <p class="our-products-cards-description">Milk chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            45 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-6@2x-min.png"
              srcset="./images/our-products/our-products-6@2x-min.png"
              alt="Honey"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Honey</a>
          <p class="our-products-cards-description">Milk chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            50 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-7@2x-min.png"
              srcset="./images/our-products/our-products-7@2x-min.png"
              alt="Roasted fruits"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Roasted fruits</a>
          <p class="our-products-cards-description">Dark chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            66 UAH
          </button>
        </div>
      </li>
      <li class="our-products-card">
        <div class="our-products-card-content-wrap">
          <a href="" class="our-products-card-link">
            <img
              src="./images/our-products/our-products-8@2x-min.png"
              srcset="./images/our-products/our-products-8@2x-min.png"
              alt="Classic"
              width="230"
              height="201"
            />
          </a>
          <a href="" class="our-products-cards-name">Classic</a>
          <p class="our-products-cards-description">White chocolate</p>
          <button type="button" class="our-products-price-buy-now">
            54 UAH
          </button>
        </div>
      </li>
    </ul>
    <div class="our-products-pagination-wrap">
      <div class="our-products-pagination-active"></div>
      <div class="our-products-pagination"></div>
      <div class="our-products-pagination"></div>
      <div class="our-products-pagination"></div>
      <div class="our-products-pagination"></div>
      <div class="our-products-pagination"></div>
      <div class="our-products-pagination"></div>
      <div class="our-products-pagination"></div>
    </div>
  </div>
</section>
