<div class="popup-feedback-section">
    <div class="pop-up">
        <button class="btn-pop-up" width="28" height="28">
            <svg class="svg-pop-up" width="16" height="16">
                <use href="../images/icons.svg#icon-x-close"></use>
            </svg>
        </button>

        <div class="container-features">
            <p class="container-title">thank you!</p>
            <p class="text-container">We are glad that you ordered our chocolate and we are giving you a 20% discount on all our products.</p>    
        </div>
        


        <picture>
            <source media="(min-width:768px)" srcset="../images/pop-up-feedback/test-choclate-img/ezgif-1-2d3a67b880, ../images/pop-up-feedback/test-choclate-img/ezgif-1-2d3a67b8802x">
            <source media="(min-width:375px)" srcset="../images/pop-up-thankyou20%/ezgif-1-2d3a67b880 2.png, ../images/pop-up-thankyou20%/ezgif-1-2d3a67b880 2@2x">
            <img src="../images/pop-up-thankyou20%/ezgif-1-2d3a67b880 2.png" alt="chocolate" style="width:auto;" class="img-popup-mobile">
          </picture>
    
    </div>
    </div>