<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="popup-feedback-section">
    <div class="pop-up">
        <button class="btn-pop-up" width="28" height="28">
            <svg class="svg-pop-up" width="16" height="16">
                <use href="../images/icons.svg#icon-x-close"></use>
            </svg>
        </button>

        <div class="container-features">
            <h1 class="container-title">thank you 
                for your feedback!</h1>
            <p class="text-container">We are so happy to hear 
                from you!</p>    
        </div>
        
        <img 
        srcset="../images/pop-up-feedback/test-choclate-img/ezgif-1-2d3a67b880 2.png, ../images/pop-up-feedback/test-choclate-img/ezgif-1-2d3a67b880 2@2x.png"
        src="../images/pop-up-feedback/test-choclate-img/ezgif-1-2d3a67b880 2.png" 
        alt="chocolate" 
        class="img-popup-mobile">
    
    </div>
    </div>
</body>
</html>

