<!----------------- chocolate is loved ----------------->
<section class="section chocolate-is-loved">
  <div class="container container-review">
    <h2 class="review-title">
      <span class="part-title">chocolate</span> is loved
    </h2>

    <div class="review-swiper">
      <ul class="review-list swiper-wrapper">
        <li class="review-item swiper-slide">
          <div class="review-card">
            <img
              class="review-image"
              srcset="
                /images/img-reviews/victoria-dobrzhanska.jpg    1x,
                /images/img-reviews/victoria-dobrzhanska@2x.jpg 2x
              "
              src="/images/img-reviews/victoria-dobrzhanska.jpg"
              width="80"
              alt="chocolate buyer 1"
            />
            <h3 class="review-title-slider">Victoria Dobrzhanska</h3>
            <p class="review-paragraph">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <div class="review-card">
            <img
              class="review-image"
              srcset="
                /images/img-reviews/nazar-babenko.jpg    1x,
                /images/img-reviews/nazar-babenko@2x.jpg 2x
              "
              src="/images/img-reviews/nazar-babenko.jpg"
              width="80"
              alt="chocolate buyer 2"
            />
            <h3 class="review-title-slider">Nazar Babenko</h3>
            <p class="review-paragraph">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <div class="review-card">
            <img
              class="review-image"
              srcset="
                /images/img-reviews/olena-kampusch.jpg    1x,
                /images/img-reviews/olena-kampusch@2x.jpg 2x
              "
              src="/images/img-reviews/olena-kampusch.jpg"
              width="80"
              alt="chocolate buyer 3"
            />
            <h3 class="review-title-slider">Olena Kampusch</h3>
            <p class="review-paragraph">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <div class="review-card">
            <img
              class="review-image"
              srcset="
                /images/img-reviews/natalia-sus.jpg    1x,
                /images/img-reviews/natalia-sus@2x.jpg 2x
              "
              src="/images/img-reviews/natalia-sus.jpg"
              width="80"
              alt="chocolate buyer 4"
            />
            <h3 class="review-title-slider">Natalia Sus</h3>
            <p class="review-paragraph">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <div class="review-card">
            <img
              class="review-image"
              srcset="
                /images/img-reviews/danilo-nottingham.jpg    1x,
                /images/img-reviews/danilo-nottingham@2x.jpg 2x
              "
              src="/images/img-reviews/danilo-nottingham.jpg"
              width="80"
              alt="chocolate buyer 5"
            />
            <h3 class="review-title-slider">Danilo Nottingham</h3>
            <p class="review-paragraph">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <div class="review-card">
            <img
              class="review-image"
              srcset="
                /images/img-reviews/irina-tydnyuk.jpg    1x,
                /images/img-reviews/irina-tydnyuk@2x.jpg 2x
              "
              src="/images/img-reviews/irina-tydnyuk.jpg"
              width="80"
              alt="chocolate buyer 6"
            />
            <h3 class="review-title-slider">Irina Tydnyuk</h3>
            <p class="review-paragraph">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
      <div class="review-swiper-pagination"></div>
    </div>
  </div>
  <button class="review-button js-open-modal" type="button" data-modal="2">
    Leave a review
  </button>
</section>
