<section class="subscribe">
  <div class="container">
    <h2
      class="subscribe-title"
      data-aos="zoom-out"
      data-aos-delay="50"
      data-aos-duration="1200"
      data-aos-offset="200"
    >
      Explore our new chocolate first
    </h2>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button
      class="subscribe-btn js-modal-open"
      type="button"
      data-modal="modal-subscribe"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      Subscribe
    </button>
  </div>
</section>
