<section class="section-sellers" id="top-sellers">
  <div class="container">
    <h1 class="title-sellers"><span class="title-accent">Top</span> Sellers</h1>
    <ul class="about-sellers">
      <li class="about-sellers-item">
        <picture>
          <source
            srcset="
              ./images/top-sellers/1desk.jpg    1x,
              ./images/top-sellers/1desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/top-sellers/1tab.jpg    1x,
              ./images/top-sellers/1tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/top-sellers/1mob.jpg    1x,
              ./images/top-sellers/1mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img scr="./images/top-sellers/1mob.jpg" alt="Chocolatenuts" />
        </picture>

        <p class="about-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="about-sellers-item">
        <picture>
          <source
            srcset="
              ./images/top-sellers/2desk.jpg    1x,
              ./images/top-sellers/2desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/top-sellers/2tab.jpg    1x,
              ./images/top-sellers/2tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/top-sellers/2mob.jpg    1x,
              ./images/top-sellers/2mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img scr="./images/top-sellers/2mob.jpg" alt="Chocolate" />
        </picture>

        <button class="sellers-btn" type="button">Buy now</button>
      </li>

      <li class="about-sellers-item">
        <picture>
          <source
            srcset="
              ./images/top-sellers/3desk.jpg    1x,
              ./images/top-sellers/3desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img scr="./images/top-sellers/desk.jpg" alt="Sweet" />
        </picture>

        <button class="sellers-btn js-open-modal" type="button" data-modal="1">Buy now</button>
      </li>
    </ul>
  </div>
</section>
