<section class="section-sellers">
  <div class="container">
    <h1 class="title-sellers"><span class="title-accent">Top</span> Sellers</h1>
    <ul class="about-sellers">
      <li class="about-sellers-item">
        <img
          srcset="
            ../images/top-sellers/chocolate1xmob.jpg 1x,
            ../images/top-sellers/chocolate2xmob.jpg 2x
          "
          src="../images/top-sellers/chocolate1xmob.jpg"
          alt="Chokolate"
          width="335"
        />
        <p сlass="about-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="about-sellers-item">
        <img
          srcset="
            ../images/top-sellers/chocolatemore1xmob.jpg 1x,
            ../images/top-sellers/chocolatemore2xmob     2x
          "
          src="../images/top-sellers/chocolate1xmob.jpg"
          alt="Chocolatemore"
          width="335"
        />
        <button class="sellers-btn" type="button">Buy now</button>
      </li>
    </ul>
  </div>
</section>
