<link rel="stylesheet" href="../css/layouts/top-sellers.css" />
<section class="section-sellers">
    <h1 class="title-sellers">Top Sellers</h1>
    <ul class="about-sellers list">
        <li class="about-sellers-item">
            <img src="../images/topsellers.jpg" alt="Chokolate" width="335">
            <p сlass="about-sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
            thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        </li>
        <li class="about-sellers-item">
            <img src="../images/topsellers2.jpg" alt="Chocolatenuts" width="335">
        </li>
    </ul>
    <button class="sellers-btn" type="button">Buy now</button>
</section>